<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="{{ "img/logo/logo_10062017.png" | relative_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ "img/logo/apple-touch-icon-precomposed_10142017.png" | relative_url }}">

    <title>{{ page.title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ "lib/css/main.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "lib/css/ie10-viewport-bug-workaround.css" | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">

  </head>
<body data-spy="scroll" data-target=".navbar-collapse">
  {% if layout.section %}
    {% include navbar.html section=layout.section %}
  {% else %}
    {% include navbar.html %}
  {% endif %}
    <main>
        {{ content }}
        <hr aria-hidden="true" class="featurette-divider">
        {% if layout.section %}
          {% include footer.html section=layout.section %}
        {% else %}
          {% include footer.html %}
        {% endif %}
    </div>
  </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ "lib/js/mobile_navbar.js" | relative_url }}"></script>
    <script src="{{ "lib/js/ie10-viewport-bug-workaround.js" | relative_url }}"></script>
  </body>
</html>
